<% if (success && success.length) { %>
<div
  class="alert"
  role="alert"
  style="background-color: rgba(255, 178, 11, 0.966)"
  id="alertBox"
>
  <span class="close-btn" onclick="dismissAlert()">&times;</span>
  <%= success %>
</div>
<% } %> <% if (error && error.length) { %>
<div
  class="alert"
  role="alert"
  style="background-color: rgba(255, 0, 0, 0.454)"
  id="alertBox"
>
  <span class="close-btn" onclick="dismissAlert()">&times;</span>
  <%= error %>
</div>
<% } %>
