<% if (success && success.length) {%>
<div role="alert" class="flashContainer"><%= success %></div>
<% } if (error && error.length) {%>
<div role="alert" class="flashContainer"><%= error %></div>
<% } %>
