<section id="Main">
    <!-- <canvas id="celebrationCanvas"></canvas> -->
    <div class="mainContainer">
        <div class="recipe-container">
            <p class="title animate-text">Top Recipes!!!</p>

            <div class="recipe-wrapper">
                <div class="recipe-card">
                    <img src="../images/main_food_image.jpg" alt="Spaghetti Carbonara" class="recipe-image">
                    <div class="profile">
                        <img src="https://via.placeholder.com/50" alt="Profile Picture" class="profile-image">
                        <p class="profile-name">Chef Maria</p>
                    </div>
                    <h2 class="recipe-title">Spaghetti Carbonara</h2>
                    <p class="like-count">❤️ 340 likes</p>
                    <a href="#" class="recipe-button">Visit Recipe</a>
                </div>

                <div class="recipe-card">
                    <img src="../images/main_food_image.jpg" alt="Classic Tiramisu" class="recipe-image">

                    <div class="profile">
                        <img src="https://via.placeholder.com/50" alt="Profile Picture" class="profile-image">
                        <p class="profile-name">Chef Lorenzo</p>
                    </div>
                    <h2 class="recipe-title">Classic Tiramisu</h2>
                    <p class="like-count">❤️ 500 likes</p>
                    <a href="#" class="recipe-button">Visit Recipe</a>
                </div>

                <div class="recipe-card">
                    <img src="../images/main_food_image.jpg" alt="Grilled Chicken Caesar Salad" class="recipe-image">

                    <div class="profile">
                        <img src="https://via.placeholder.com/50" alt="Profile Picture" class="profile-image">
                        <p class="profile-name">Chef Emma</p>
                    </div>
                    <h2 class="recipe-title"> Chicken Caesar Salad</h2>
                    <p class="like-count">❤️ 290 likes</p>
                    <a href="#" class="recipe-button">Visit Recipe</a>
                </div>
            </div>
            <script src="/js/main.js"></script>
        </div>
    </div>
</section>