<!-- <header>
  <nav>
    <div class="website-name">Spoonful Stories</div>

    <div class="hamburger" id="hamburger">&#9776;</div>

    <div class="nav-links" id="navLinks">
      <a href="/" data-target="/">Home</a>
      <a href="#Main" data-target="#Main">Daily Bite</a>
      <a class="post" href="/recipes/new" data-target="/recipes/new">Post Recipes</a>
      <a href="#about">About</a>
    </div>

    <div class="user-actions">
      <a href="/login">Sign Up/Log In</a>
    </div>

    <script src="/js/login.js"></script>
  </nav>
</header> -->

<header>
  <nav>
    <div class="website-name">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="48px"
        viewBox="0 -960 960 960"
        width="48px"
        fill="#e8eaed"
      >
        <path
          d="m175-120-56-56 410-410q-18-42-5-95t57-95q53-53 118-62t106 32q41 41 32 106t-62 118q-42 44-95 57t-95-5l-50 50 304 304-56 56-304-302-304 302Zm118-342L173-582q-54-54-54-129t54-129l248 250-128 128Z"
        />
      </svg>
    </div>

    <div class="hamburger" id="hamburger">&#9776;</div>

    <div class="nav-links" id="navLinks">
      <a href="/" data-target="/">Home</a>
      <a href="/#Main" data-target="#Main">Daily Bite</a>
      <a href="/recipes" data-target="/recipes">Discover</a>
      <a class="post" href="/recipes/new" data-target="/recipes/new"
        >Post Recipes</a
      >
      <a href="#about" data-target="#about">About</a>
    </div>

    <div class="user-actions">
      <% if (!currentUser) {%>
      <a href="/login">Log In</a>
      <% } else { %>
      <div class="profileIcon">
        <div style="position: relative">
          <div class="profile-icon" onclick="toggleProfileDropdown()">
            <%= currentUser.username[0].toUpperCase() %>
          </div>

          <div class="profile-dropdown" id="profileDropdown">
            <div class="profile-info">
              <div class="account-name"><%= currentUser.username %></div>
            </div>
            <div class="logout-button"><a href="/logout">Log Out </a></div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </nav>
</header>

<script src="/js/profileicon.js"></script>
