 <header>
  <nav>
    <div class="website-name">Spoonful Stories</div>

    <div class="hamburger" id="hamburger">&#9776;</div>

    <div class="nav-links" id="navLinks">
      <a href="/">Home</a>
      <a href="#Main">Daily Bite</a>
      <a class="post" href="#post-recipes">Post Recipes</a>
      <a href="#about">About</a>
    </div>

    <div class="user-actions">
      <a href="/login">Sign Up/Log In</a>
    </div>


  <script src="/js/login.js"></script>
  </nav>
</header> 
   

