<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spoonful Stories</title>

    <!--Style.css-->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/login.css">
    <!-- javascript  -->
    <script src="/js/rotate.js"></script>
    <script src="/js/login.js"></script>


    <%- include("partials/fonts.ejs") %>
  </head>

  <body>
    <div class="header">
      <%- include("partials/navbar.ejs") %>

      <div class="logoContainer">
        <div class="logo">
          <h1>Spoonful stories</h1>
        </div>
        <div class="moto">
          <p>Where every recepie tells a story ...</p>
        </div>
        <div class="discover">
          <p>Discover</p>
        </div>
        <!-- <button onclick="movePlates()">Move Plates</button> -->
      </div>
        <div class="plate">
          <img
            src="/images/food_plate_1.png"
            alt="plate_1"
            class="half-circle-img"
          />
          <img
            src="/images/food_plate_2.png"
            alt="plate_2"
            class="half-circle-img"
          />
          <img
            src="/images/food_plate_3.png"
            alt="plate_3"
            class="half-circle-img"
          />
          <img
            src="/images/food_plate_4.png"
            alt="plate_4"
            class="half-circle-img"
          />
          <img
            src="/images/food_plate_5.png"
            alt="plate_5"
            class="half-circle-img"
          />
          <img
            src="/images/food_plate_6.png"
            alt="plate_6"
            class="half-circle-img"
          />
          <img
            src="/images/food_plate_7.png"
            alt="plate_7"
            class="half-circle-img"
          />
        </div>
    </div>

    <main>
      <div class="catageories"></div>
    </main>
  </body>
</html>
