.alert {
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
}

.close-btn {
  cursor: pointer;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
}

.close-btn:hover {
  color: #ddd;
}
