/* .alert {
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
}

.close-btn {
  cursor: pointer;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
}

.close-btn:hover {
  color: #ddd;
} */


.alert {
  position: fixed;
  top: -100px; 
  left: 50%;
  transform: translateX(316%) translateY(94%);
  opacity: 0;
  transition: top 0.5s ease-out, opacity 0.5s ease-out;
  z-index: 10000; 
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
}

.alert.show {
  top: 20px; 
  opacity: 1;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
  padding-left: 10px;  
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
}
