<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Recipe</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/recipesCss/recipe_new.css" />
    <%- include("../partials/fonts.ejs") %>
  </head>

  <body>
    <%- include("../partials/navbar.ejs") %>
    <main class="post-container">
      <div class="main-form-container">
        <form action="/recipes" method="POST" enctype="multipart/form-data">
          <div class="form-Container">
            <div class="recipe-form-box1" data-index="0">
              <div>
                <label for="title">Title</label><br />
                <input
                  type="text"
                  id="text-input"
                  name="recipe[title]"
                  id="title"
                  required
                />
              </div>

              <div>
                <label for="description">Description</label>
                <br />
                <textarea
                  name="recipe[description]"
                  id="description"
                  rows="5"
                  cols="40"
                  required
                ></textarea>
                <br />
              </div>
            </div>

            <div class="recipe-form-box2" data-index="1">
              <!-- <div>
                <label for="">Image URL</label><br />
                <input type="text" name="recipe[image]" id="img" required />
              </div> -->
              <input type="file" name="image" id="" />

              <label>Ingredients: </label>
              <div class="ingredientList">
                <input
                  type="text"
                  name="recipe[ingredients][]"
                  id="ingredient"
                  placeholder="ingredient..."
                  required
                />
                <br />
              </div>
              <button type="button" onclick="addIngredient()">
                Add Ingredient
              </button>
              <br />
            </div>

            <div class="recipe-form-box3" data-index="2">
              <label for="">Steps: </label>
              <div class="stepsList">
                <textarea
                  name="recipe[steps][]"
                  id="step"
                  placeholder="step..."
                  required
                ></textarea
                ><br />
              </div>
              <button type="button" onclick="addStep()">Add Step</button
              ><br /><br />
              <div class="cancel-container">
                <button type="submit" class="add-recipe">Add Recipe</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="slider-buttons">
        <button id="prevBtn" onclick="prevSlide()">Previous</button>
        <button id="nextBtn" onclick="nextSlide()">Next</button>
        <a href="/recipes" class="cancel">Cancel</a>
      </div>
    </main>
    <script src="/js/recipes/recipeNew.js"></script>
    <script src="/js/recipes/recipeNew2.js"></script>
    <!-- <script src="/js/clientSideValidation.js"></script> -->
  </body>
</html>
