:root {
    --Chocolate: #903e1f;
    --Croissant: #e07425;
    --Golden: #ffc129;
    --SourDough: #fff38e;
    --white: white;
    --black: black;
}

.main-recipe-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-container{
  height: auto;
  width: auto;
  margin-top: 100px;
  background-color: black;
  padding: 20px;
  border-radius: 20px;
}

.recipe-sub-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container{
  height: 80vh;
  background-color: white;
  /* border-radius: 20px; */
  overflow-y: scroll;
}
.sub-container > img {
    height: 30vh;
    width: auto;
    padding: 20px;
}

.sub-container > form {
    padding: 20px;
}

.sub-container > h1, h2, h3 {
    padding: 0 20px;
    text-align: center;
}

.sub-container > ul, ol {
    padding: 30px;
    list-style: none;
}

.options {
    padding: 20px;
}

.comment-container{
  height: 80vh;
  width: 30vw;
  overflow-y: scroll;
  background-color: white;
}