:root {
    --Chocolate: #903e1f;
    --Croissant: #e07425;
    --Golden: #ffc129;
    --SourDough: #fff38e;
    --white: white;
    --black: black;
}

.post-container {
    padding: 12vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post-container > h1 {
    font-family: "Style Script", cursive;
    font-size: 5rem;
    text-align: center;
    margin: 0 20vw;
    padding: 5px;
}


.main-form-container{
    background-color: var(--white);
    width: 94vw;
    height: 130vh;
    border-radius: 20px;
    box-shadow:0px 3px 3px 2px rgb(0 0 0 / 38%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.form-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.form-Container > label {
    text-align: center;
}

.invalid {
    border: 2px solid red;
}

.invalid-message {
    color: red;
    font-size: 0.9em;
    margin-top: 4px;
}
  
